flows.json
[
    {
        "id": "f7a1c5ad6b073a18",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "aa74c4abbdb087d9",
        "type": "ui_tab",
        "name": "Charging",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "6fa4fea51862f142",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "EV Charging Dashboard",
            "hideToolbar": "true",
            "allowSwipe": "false",
            "lockMenu": "icon",
            "allowTempTheme": "false",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "df6b0e5f5731700e",
        "type": "ui_group",
        "name": "EV Charging",
        "tab": "aa74c4abbdb087d9",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "6c038cf9eb944deb",
        "type": "rpi-gpio in",
        "z": "f7a1c5ad6b073a18",
        "name": "EV Connected",
        "pin": "17",
        "intype": "down",
        "debounce": "25",
        "read": true,
        "bcm": true,
        "x": 310,
        "y": 80,
        "wires": [
            [
                "3ed18de0e406d305"
            ]
        ]
    },
    {
        "id": "3ed18de0e406d305",
        "type": "switch",
        "z": "f7a1c5ad6b073a18",
        "name": "Map",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 470,
        "y": 80,
        "wires": [
            [
                "663b9775fb52d928"
            ],
            [
                "a3932eadf2e380e5"
            ]
        ]
    },
    {
        "id": "7dc5cb3e9f349300",
        "type": "ui_text",
        "z": "f7a1c5ad6b073a18",
        "group": "df6b0e5f5731700e",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "EV Charger Connected:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 870,
        "y": 80,
        "wires": []
    },
    {
        "id": "663b9775fb52d928",
        "type": "change",
        "z": "f7a1c5ad6b073a18",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "False",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 60,
        "wires": [
            [
                "7dc5cb3e9f349300"
            ]
        ]
    },
    {
        "id": "a3932eadf2e380e5",
        "type": "change",
        "z": "f7a1c5ad6b073a18",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "True",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 120,
        "wires": [
            [
                "7dc5cb3e9f349300"
            ]
        ]
    },
    {
        "id": "85fc2db9a410cd1c",
        "type": "inject",
        "z": "f7a1c5ad6b073a18",
        "name": "Test Connected",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 120,
        "y": 160,
        "wires": [
            [
                "cb9627c51a84d7f5"
            ]
        ]
    },
    {
        "id": "47fa7d9636a15f84",
        "type": "inject",
        "z": "f7a1c5ad6b073a18",
        "name": "Test Disconnected",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 130,
        "y": 200,
        "wires": [
            [
                "eb5dbf84bba43d1c"
            ]
        ]
    },
    {
        "id": "26edfccb88141c35",
        "type": "exec",
        "z": "f7a1c5ad6b073a18",
        "command": "vcgencmd measure_temp",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 390,
        "y": 380,
        "wires": [
            [
                "9d1a85901c58cb25"
            ],
            [],
            []
        ]
    },
    {
        "id": "290df3952fd1e23e",
        "type": "inject",
        "z": "f7a1c5ad6b073a18",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "3",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 380,
        "wires": [
            [
                "26edfccb88141c35",
                "670fe7c0afdba627"
            ]
        ]
    },
    {
        "id": "9d1a85901c58cb25",
        "type": "function",
        "z": "f7a1c5ad6b073a18",
        "name": "transform",
        "func": "var str = msg.payload\nmsg.payload = str.substring(5,9);\n\nnode.status({ text: \"Temp:\" + msg.payload });\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 360,
        "wires": [
            [
                "e0f59f7833f2001a",
                "7ea52c591c985584"
            ]
        ]
    },
    {
        "id": "e0f59f7833f2001a",
        "type": "ui_gauge",
        "z": "f7a1c5ad6b073a18",
        "name": "",
        "group": "df6b0e5f5731700e",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "CPU Temperature",
        "label": "C",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "35",
        "seg2": "60",
        "diff": false,
        "className": "",
        "x": 790,
        "y": 340,
        "wires": []
    },
    {
        "id": "670fe7c0afdba627",
        "type": "exec",
        "z": "f7a1c5ad6b073a18",
        "command": "top -d 0.5 -b -n2 | grep \"Cpu(s)\"|tail -n 1 | awk '{print $2 + $4}'",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "CPU",
        "x": 330,
        "y": 440,
        "wires": [
            [
                "b9aeee691d6115d2",
                "5403058e5e430902"
            ],
            [],
            []
        ]
    },
    {
        "id": "b9aeee691d6115d2",
        "type": "ui_gauge",
        "z": "f7a1c5ad6b073a18",
        "name": "",
        "group": "df6b0e5f5731700e",
        "order": 5,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "CPU Load",
        "label": "C",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 570,
        "y": 420,
        "wires": []
    },
    {
        "id": "5403058e5e430902",
        "type": "ui_chart",
        "z": "f7a1c5ad6b073a18",
        "name": "",
        "group": "df6b0e5f5731700e",
        "order": 6,
        "width": 0,
        "height": 0,
        "label": "CPU Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 590,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "7ea52c591c985584",
        "type": "ui_chart",
        "z": "f7a1c5ad6b073a18",
        "name": "",
        "group": "df6b0e5f5731700e",
        "order": 7,
        "width": 0,
        "height": 0,
        "label": "Temperature Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#80c7f9",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 810,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "818d204ebf027952",
        "type": "ui_button",
        "z": "f7a1c5ad6b073a18",
        "name": "",
        "group": "df6b0e5f5731700e",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Shutdown",
        "tooltip": "",
        "color": "",
        "bgcolor": "red",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 200,
        "y": 520,
        "wires": [
            [
                "b9540acdc3741b7e"
            ]
        ]
    },
    {
        "id": "b9540acdc3741b7e",
        "type": "exec",
        "z": "f7a1c5ad6b073a18",
        "command": "sudo shutdown -h now",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Shutdown",
        "x": 380,
        "y": 540,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "c2e450aaf45ba606",
        "type": "ui_button",
        "z": "f7a1c5ad6b073a18",
        "name": "",
        "group": "df6b0e5f5731700e",
        "order": 9,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Reboot",
        "tooltip": "",
        "color": "",
        "bgcolor": "orange",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 200,
        "y": 580,
        "wires": [
            [
                "78e4e9b3ea940d58"
            ]
        ]
    },
    {
        "id": "78e4e9b3ea940d58",
        "type": "exec",
        "z": "f7a1c5ad6b073a18",
        "command": "sudo reboot",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Reboot",
        "x": 380,
        "y": 600,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "cb9627c51a84d7f5",
        "type": "ui_button",
        "z": "f7a1c5ad6b073a18",
        "name": "",
        "group": "df6b0e5f5731700e",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "Simulate Connect",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 310,
        "y": 160,
        "wires": [
            [
                "3ed18de0e406d305"
            ]
        ]
    },
    {
        "id": "eb5dbf84bba43d1c",
        "type": "ui_button",
        "z": "f7a1c5ad6b073a18",
        "name": "",
        "group": "df6b0e5f5731700e",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "Simulate Disconnect",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "0",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 340,
        "y": 200,
        "wires": [
            [
                "3ed18de0e406d305"
            ]
        ]
    }
]